body, html {
  font-family: 'Hind Siliguri', serif, sans-serif;
}

* {
  font-family: inherit;
}

@import url('//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Noto+Serif+Bengali:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: 'Hind Siliguri', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background: linear-gradient(-35deg, #343434 0%, #000911);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Responsive media query for SEO */
@media (max-width: 600px) {
  body {
    padding: 0 8px;
    font-size: 15px;
  }
}
